@import 'tailwindcss';

:root {
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

    font: 18px/145% var(--sans);
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.18px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

#root {
    width: 100dvw;
    min-height: 100svh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    background: linear-gradient(90deg, #0b0f17 0%, #0f172a 50%, #133f46 100%);
    color: white;
}

body {
    margin: 0;
}

h1,
h2 {
    font-weight: 500;
}

h1 {
    font-size: 56px;
    letter-spacing: -1.68px;
    margin: 32px 0;
    @media (max-width: 1024px) {
        font-size: 36px;
        margin: 20px 0;
    }
}
h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
    @media (max-width: 1024px) {
        font-size: 20px;
    }
}
p {
    margin: 0;
}
